html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(238.79deg, #b0a799 1.03%, #988580 71.28%);
}

.left-side {
  position: relative;
  display: flex;
  z-index: 9999;
  flex-direction: column;
}

.lead {
  margin-top:3em;
}

.right-side {
  z-index: 9999;
}
.blurred-rectangle {
  backdrop-filter: blur(15px);
}

.blurred-rectangle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navigation-bar {
  display: flex;
  align-items: center;
}
.btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /*Prevent inheritance from `body` */
  }
  
  .nav-masthead .nav-link {
      color: rgb(255, 255, 255);
      border-bottom: .25rem solid transparent;
    }
    
    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgb(253, 184, 158);
    }
    
    .btn {
        border-color: #fdb89e;
        color: #fff;
        background-image: -webkit-linear-gradient(45deg, #fdb89e 50%, transparent 50%);
        background-image: linear-gradient(45deg, #fdb89e 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }
    
    .btn:hover{
        background-position: 0;
    }
    
    .nav-masthead .nav-link + .nav-link {
      margin-left: 1rem;
    }
    
    .nav-masthead .active {
      color: rgb(253, 184, 158);
      border-bottom-color: rgb(253, 184, 158);
    }
    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      .buttons {
        margin-top: 50px;
        text-align: center;
        border-radius: 30px;
      }
      
      .blob-btn {
        z-index: 1;
        position: relative;
        padding: 20px 46px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(253, 184, 158);
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        outline: none;
        border: none;
        transition: color 0.5s;
        cursor: pointer;
        border-radius: 30px;
      }
      .blob-btn:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgb(253, 184, 158);
        border-radius: 30px;
      }
      .blob-btn:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 100%;
        height: 100%;
        transition: all 0.3s 0.2s;
        border-radius: 30px;
      }
      .blob-btn:hover {
        color: #FFFFFF;
        border-radius: 30px;
      }
      .blob-btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius: 30px;
      }
      .blob-btn__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0);
      }
      .blob-btn__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url("#goo");
      }
      .blob-btn__blob {
        position: absolute;
        top: 2px;
        width: 25%;
        height: 100%;
        background: rgb(253, 184, 158);
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;
      }
      @supports (filter: url("#goo")) {
        .blob-btn__blob {
          transform: translate3d(0, 150%, 0) scale(1.4);
        }
      }
      .blob-btn__blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s;
      }
      .blob-btn__blob:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s;
      }
      .blob-btn__blob:nth-child(3) {
        left: 60%;
        transition-delay: 0.16s;
      }
      .blob-btn__blob:nth-child(4) {
        left: 90%;
        transition-delay: 0.24s;
      }
      .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.7);
      }
      @supports (filter: url("#goo")) {
        .blob-btn:hover .blob-btn__blob {
          transform: translateZ(0) scale(1.4);
        }
      }

@media (min-width: 320px) and (max-width:1413px) {
  body {
    overflow-x: hidden;
    overflow-y: auto !important;
  }
  .background {
    backdrop-filter: blur(15px);
    filter: blur(15px);
  }
  /* #gamepad, #laptop, #ball1, #ball2, #ball3, #ball4, #ball5, #ball6 {
    display: none;
  } */
  .left-side {
    gap: 2em;
  }
  .blurred-rectangle {
    
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .nav-buttons {
    display: none;
  }
  .right-side {
    display: none;
  }
  .mobile-nav {
    /* display:flex; */
    flex-direction: column;
    float:right;
    width: 100%;
  }
  .mobile-nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    float:right;
  }
  .mobile-nav a.icon {
    background: rgba(255, 255, 255, 0);
    color: white;
  }
  /* Стиль меню навигации */
.mobile-topnav {
  overflow: hidden;
  background-color: #ffffff3f;
  /* position: relative; */
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Скрыть ссылки внутри меню навигации ( кроме главной/логотип) */
.mobile-topnav #myLinks {
  display: none;
}

/* Ссылки меню навигации по стилю */
.mobile-topnav a {
  position: relative;
  /* left:50%; */
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
footer {
  display: none;
}
.nav-link {
  text-align: center;
  margin-left:0em;
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 0rem;
}
#title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 250%;
  line-height: 78px;
  /* identical to box height */
  margin-bottom: 0.3em;
  
  text-align: justify;
  
  color: #FFFFFF;
}
#text-about-me {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 115%;
  /* line-height: 59px; */
  text-align: justify;

  color: #FFFFFF;

  text-shadow: -8px 9px 10px rgba(0, 0, 0, 0.25);

}
}

@media (min-width: 1413px) {
  .mobile-nav {
    display: none;
  }
  .mobile-topnav {
    display: none;
  }
  #gamepad {
    position:absolute;
    width: 50vw;
    height: 35vh;
    left: 40vw;
    top: 5vh;
  }
  #laptop {
    position:absolute;
    /* transform: rotate(-23.87deg); */
    left: -1vw;
    top: 35vh;
  }
  
  #ball1 {
    position:absolute;
    /* transform: rotate(57.51deg); */
    /* width: 806.11px;
    height: 646.09px; */
    left: 76vw;
    top: -10vh;
  }
  #ball2 {
    position:absolute;
    top:43vh;
    left:20vw;
  }
  #ball3 {
    position: absolute;
    top: 35vh;
    left: 75vw;
  }
  #ball4 {
    position: absolute;
    top:20vh;
    left:30vw;
  }
  #ball5 {
      position:absolute;
      left:0vw;
      top:-10vh;
  }
  #ball6 {
      position: absolute;
      left: 25vw;
      top: 40vh;
  }
    .blurred-rectangle {
      position: absolute;
      display: flex;

      width: 70vw;
      height: 70vh;
      left: 15vw;
      top: 15vh;
      background: linear-gradient(254.06deg, rgba(199, 199, 199, 0.09) 2.52%, rgba(121, 121, 121, 0.16) 100%);
      box-shadow: -25px 25px 65px rgba(0, 0, 0, 0.13);
      border-radius: 22px;
      flex-direction: row;
      overflow-y: hidden;
      overflow-x: hidden;
      border: 1.1px solid rgba(255, 255, 255, 0.521);
      transition: all 1s ease;
    }
    .blurred-rectangle.expand {
      left:0;
      top:0;
      width: 100vw;
      height: 100vh;
    }
    .left-side {
      width:60%;
    }
    
    .left-side.expand {
      width: 100%;
    }
    .right-side {
      display: flex;
      width: 40%;
      height: 100%;
    }
    .right-side.minimize {
      width: 0%;
    }
    .navigation-bar {
      gap: 2em;
      margin-left: 2em;
      margin-top: 1em;
    }
    .nav-buttons {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 100%;
      /* line-height: 37px; */
      /* identical to box height */
      
      text-align: justify;
      text-transform: uppercase;
      
      color: #FFFFFF;
    }
    #title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 250%;
      line-height: 78px;
      /* identical to box height */
      margin-bottom: 0.3em;
      
      text-align: justify;
      
      color: #FFFFFF;
    }
    #text-about-me {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 115%;
      /* line-height: 59px; */
      text-align: justify;
  
      color: #FFFFFF;
  
      text-shadow: -8px 9px 10px rgba(0, 0, 0, 0.25);
  
    }
    .information {
      margin-left: 8.25em;
      margin-top: 2em;
      flex:1;
      /* width: 60%; */
      height: 100%;
      /* overflow: auto; */
    }
    .photo {
      width: 100%;
      height: 100%;
      background-image: url(photo.svg);
      display: flex;
      align-items: center; /* Выравнивание по вертикали */
      justify-content: center; /* Выравнивание по горизонтали */
      background-size: cover; /* Масштабирование изображения для заполнения flex-элемента */
      background-position: center; /*Позиционирование изображения по центру*/
      transition: all 1s ease;
    }
    .photo.hide {
      opacity:0;
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      height: 100%;
      /* justify-content: space-between; */
    }
      footer {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 100%;
        line-height: 128.9%;
        /* or 34px */
  
        text-align: right;
        letter-spacing: 0.02em;
  
        color: rgba(255, 255, 255, 0.5);
  
        text-shadow: -5px 6px 7px rgba(0, 0, 0, 0.34);
        position: fixed;
        left: 0;
        bottom: 0;
        height: 25px;
        width: 100%;
        padding-right: 10px;
      }
      
      
}
