html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(238.79deg, #b0a799 1.03%, #988580 71.28%);
}
header {
    padding-top:2em;
    padding-bottom: 5em;
  }
  footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 128.9%;
    /* or 34px */

    text-align: right;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.5);

    text-shadow: -5px 6px 7px rgba(0, 0, 0, 0.34);
    position: fixed;
      left: 0;
      bottom: 0;
      height: 25px;
      width: 100%;
      padding-right: 10px;
  }

  #gamepad {
    position:absolute;
    width: 50vw;
    height: 35vh;
    left: 40vw;
    top: 5vh;
  }
  #laptop {
    position:absolute;
    /* transform: rotate(-23.87deg); */
    left: -1vw;
    top: 35vh;
  }
  
  #ball1 {
    position:absolute;
    /* transform: rotate(57.51deg); */
    /* width: 806.11px;
    height: 646.09px; */
    left: 76vw;
    top: -10vh;
  }
  #ball2 {
    position:absolute;
    top:43vh;
    left:20vw;
  }
  #ball3 {
    position: absolute;
    top: 35vh;
    left: 75vw;
  }
  #ball4 {
    position: absolute;
    top:20vh;
    left:30vw;
  }
  #ball5 {
      position:absolute;
      left:0vw;
      top:-10vh;
  }
  #ball6 {
      position: absolute;
      left: 25vw;
      top: 40vh;
  }
  .background {
    backdrop-filter: blur(15px);
    height: 100%;
    filter: blur(15px);
    background: linear-gradient(254.06deg, rgba(199, 199, 199, 0.09) 2.52%, rgba(121, 121, 121, 0.16) 100%);
  }
  .navigation {
    position: absolute;
    display:flex;
    gap:2%;
    width:100%;
    top:5%;
    left: 18%;
  }

  .contacts {
    position:relative;
    display: flex;
    top:45%;
    padding-left: 10%;
    /* padding-right:13.5%; */
    width: 90%;
    height:25%;
    /* gap:10%; */
    justify-content: space-between;
  }
  .contact-method {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-right:6%; */
  }
  .contact-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 130%;
        line-height: 49px;
        text-align: center;
        
        text-decoration-line: underline;
        text-transform: uppercase;

        color: #FFFFFF;

        text-shadow: -6px 5px 6px rgba(0, 0, 0, 0.25);
    }
    .contact-link:hover {
        color: #fdb89e;
    }
  .nav-masthead .nav-link {
    color: rgb(255, 255, 255);
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgb(253, 184, 158);
  }
  
  .btn {
      border-color: #fdb89e;
      color: #fff;
      background-image: -webkit-linear-gradient(45deg, #fdb89e 50%, transparent 50%);
      background-image: linear-gradient(45deg, #fdb89e 50%, transparent 50%);
      background-position: 100%;
      background-size: 400%;
      -webkit-transition: background 300ms ease-in-out;
      transition: background 300ms ease-in-out;
  }
  
  .btn:hover{
      background-position: 0;
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: rgb(253, 184, 158);
    border-bottom-color: rgb(253, 184, 158);
  }
  .container-contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* box-sizing: border-box; */
    padding: 2em;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  @media (min-width:320px) and (max-width:1413px) {
    .contacts {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      /* top:25%; */
      padding-left:0;
      width:auto;
      height: auto;
      align-items: center;
      gap: 2em;
      top:0;
    }
    body {
      overflow-x: hidden;
      overflow-y: auto !important;
    }
    .container-contacts {
      display: block;
      gap:2em;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 2em;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .navigation-buttons {
      display: none;
    }
    .mobile-nav {
      /* display:flex; */
      flex-direction: column;
      float:right;
      width: 100%;
    }
    .mobile-nav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      float:right;
    }
    .mobile-nav a.icon {
      background: rgba(255, 255, 255, 0);
      color: white;
    }
    /* Стиль меню навигации */
  .mobile-topnav {
    margin-bottom: 2em;
    overflow: hidden;
    /* flex:1; */
    background-color: #ffffff3f;
    /* position: relative; */
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  /* Скрыть ссылки внутри меню навигации ( кроме главной/логотип) */
  .mobile-topnav #myLinks {
    display: none;
  }
  
  /* Ссылки меню навигации по стилю */
  .mobile-topnav a {
    position: relative;
    /* left:50%; */
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  footer {
    display: none;
  }
  .navigation {
    position: relative;
    left:0;
    top:0;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .nav-link {
    text-align: center;
    margin-left:0em;
  
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 0rem;
    height: inherit;
  }
  }
  @media (min-width:1414px) {
    .mobile-nav {
      display: none;
    }
    .mobile-topnav {
      display: none;
    }
    a {
      font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    /* line-height: 37px; */
    /* identical to box height */
    
    text-align: justify;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
  }
